/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #27272a;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #27272a;
  overflow-y: auto;
}

/* Common styles for App components */
.App-fullpage,
.App-header,
.App-main {
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-fullpage {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 10vh;
  min-height: 120px;
  justify-content: center;
}

.App-main {
  height: 90vh;
}

.App-link {
  color: #61dafb;
}
